{% include 'components/blog/header.twig' %}
{% include 'components/blog/menu.twig' %}
<!-- Content -->
<div class="container">
    <div class="row">
        <!--- Posts --->
        <div class="col-lg-8">
            <div class="row">
                {% for post in app.post.getPostsList() %}
                    <!-- Post Show -->
                    <div class="col-lg-6 col-md-6">
                        <aside>
                            <img src="{{ post.header_img }}" class="img-responsive">
                            <div class="content-title">
                                <div class="text-center">
                                    <h3><a href="{{ path_for('read') }}/{{ post.id }}">{{ post.title }}</a></h3>
                                </div>
                            </div>
                            <div class="content-footer">
                                <img class="user-small-img" src="{{ app.user.getProfile(post.user_id).avatar }}">
                                <span style="font-size: 16px;color: #fff;text-transform: capitalize;">{{ app.user.getAccount(post.user_id).username }}</span>
                                <span class="pull-right">
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments" ></i> {{ app.comment.count(post.id) }}</a>
                                </span>
                            </div>
                        </aside>
                    </div>
                    <!-- End post -->
                {% endfor %}
            </div>
        </div>
        {% include 'components/blog/sidebar.twig' %}
    </div>
</div>
<!-- end Content -->
{% include 'components/blog/footer.twig' %}