{% include 'components/acp/header.twig' %}
{% include 'components/acp/menu.twig' %}
<div class="row">
    <div class="col s12 m12 offset-l2 l8">
        <div class="panel">
            <div class="panel-title">Blog Posts</div>
            <div class="panel-body">
                {% for post in app.post.getPosts() %}
                <div class="row post-list">
                    <div class="col s11">
                        <div class="row">
                            <div class="col s9">
                                <h5 class="post-title"><a href="{{ path_for('read') }}/{{ post.id }}" target="_blank">{{ post.title }}</a> </h5>
                                <span class="post-time">{{ post.created_at }} in category <a href="{{ post.category_id }}">{{ app.category.getCategoryName(post.category_id) }}</a></span>
                            </div>
                            <div class="col s3">
                                <img src="{{ post.header_img }}" class="right" height="70" style="margin-top: 15px;">
                            </div>
                        </div>
                    </div>
                    <div class="col s1">
                        <ul class="option-list">
                            <li><a href="{{ path_for('editPost') }}/{{ post.id }}" class="btn-trigger"><i class="fas fa-pencil-alt"></i></a></li>
                            <li><a href="{{ path_for('deletePost') }}/{{ post.id }}" class="btn-trigger"><i class="far fa-trash-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="divider"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% include 'components/acp/footer.twig' %}